#header, #header * {
    font-family: 'roboto',sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#header {
    background: #222;
    position: relative;
    z-index: 101;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

#header.default-header .main-area {
    padding: 20px;
}
#header .main-area {
    min-height: 42px;
    padding: 20px;
    /* background: #030303; */
}
#header.default-header .container, #header.default-header + #breadcrumb .container, #header.default-header .search-form .wrapper, .articleshow #header .search-form .wrapper {
    max-width: 1000px;
}
#header.default-header .adbox-left {
    float: left;
    margin-left: 10px;
}
#header.default-header .adbox-left, #header.default-header .adbox-right {
    width: 210px;
    min-height: 40px;
    position: relative;
}
#header.default-header .adbox-left, #header.default-header .adbox-right {
    display: none;
}
#header.default-header .adbox-right {
    float: right;
    margin-right: 10px;
}

#header.default-header .logo {
    width: 510px;
    display: block;
    padding-top: 0;
    margin: 0 auto;
    float: none;
}
#header .logo {
    position: relative;
    z-index: 1000;
    padding-top: 20px;
}

.allmenu-content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    min-height: 300px;
    background: rgba(0,0,0,.96);
    z-index: 10;
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    transition: top .5s;
    -webkit-transition: top .5s;
    background: #fff;
    box-shadow: 1px 0 2px;
    -webkit-box-shadow: 1px 0 2px rgba(0,0,0,.5);
    border-bottom: 4px solid #000;
    overflow: auto;
}

#main-nav > ul {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    height: 28px;
}

#main-nav ul.show-extra, #sub-nav ul.show-extra {
    white-space: nowrap;
    overflow: visible;
    height: auto;
    width: 100%;
}

#main-nav > ul > li.nvh, #main-nav > ul > li.nav-home {
    width: 25px;
    text-align: center;
}
#main-nav > ul > li {
    height: 28px;
}
#main-nav ul li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    transition: all .5s;
    -webkit-transition: all .5s;
}

#header.default-header #main-nav > ul > li > a {
    border: 0;
    padding: 1px 3px;
}
#main-nav > ul > li.nvh > a, #main-nav > ul > li.nav-home > a {
    height: 105%;
    width: 100%;
    overflow: hidden;
    background: url(https://static.toiimg.com/photo/65796589.cms) no-repeat -251px -127px;
    transition: none;
    -webkit-transition: none;
}
#main-nav > ul > li > a, #main-nav > ul > li.all-sections {
    font-family: roboto,'Roboto',calibri,'arial narrow',sans-serif;
    font-size: 12px;
    padding: 1px 5px;
    line-height: 26px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

#main-nav > ul > li.nvp, #main-nav > ul > li.current {
    background: #fff;
}
#main-nav > ul > li.nvp a, #main-nav > ul > li.current a {
    color: #000;
}

#header.default-header #main-nav > ul > li:not(.cyclicnav)::before, #header.default-header #main-nav > ul > li::after {
    background: #000;
}

.search-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
    transition: all .5s;
    -webkit-transition: all .5s;
    overflow: hidden;
}

.navbdcrumb {
    font-size: 11px;
    padding: 10px 0 0 30px;
    margin: 0 auto;
    max-width: 1000px;
}